@media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    
    body {
        background-color: white;
    }
    .U  {
        font-size: 24px;
    }
    .U3 {
        padding-right: -10px;
    }
   #xyz {
       padding-top: 150px;
       padding-left: 5%;
       color: white;
   }
   #abc {
       color: white;
       padding-left: 5%;
   }
hr {
    display: none;
}
    #gb1 {
        width: 100%;
        padding-left: 60px;
        padding-bottom: 30px;
        margin: 0px 0px 0px;
        font-size: 15px;
    }
     #culumn {
         background-color: gainsboro;
         width: 100%;
        height: 800px;
     }
     .D3 {
         width: 100%;
         height: 100%;
     }
     .row1 {
         width: 100%;
         height: 100%;
         background-color: gainsboro;
     }
     .culumn1 {
          width: 33%;
          height: 50%;
          padding-left: 20px;
          background-color:  gainsboro;
     }
     .culumn2 {
         width: 33%;
         height: 50%;
     }
     .culumn3 {
         width: 33%;
         height: 50%;
     }
     .img1 {
         width: 80%;
         margin: auto;
         display: block;
        
         
     }
     .img2 {
         width: 80%;
         margin: auto;
         display: block;
        
     }
     .img3 {
         width: 80%;
         margin: auto;
         display: block;
         
     }
     .img4 {
         width: 80%;
         margin: auto;
         display: block;
        
         
     }
     .img5 {
         width: 80%;
         margin: auto;
         display: block;
         height: 70%;
     }
     .footer {
         width: 100%;
         background-color: whitesmoke;
     }
     #Z {
         width: 100%;
     }
     #b {
         width: 33%;
         margin: auto;
         display: block;
     }
     #c {
         width: 33%;
         margin: auto;
         display: block;
     }
     #d {
         width: 33%;
         margin: auto;
         display: block;
     }
 }